.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-invert {
  color: invert(1);
  background-color: inherit;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-faster {
  animation: spin 0.6s linear infinite;
}

.text-gradient {
  background: linear-gradient(
      to right,
      #2674f0 0%,
      #f21b22 25%,
      #33d12e 50%,
      #f2f222 75%,
      #2674f0 100%
    )
    0 0 / 500% 100%;
  background-size: 500% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: ltr-gradient 12.5s infinite linear reverse;
}

.bg-gradient {
  background: linear-gradient(
      to right,
      #80a8e8 0%,
      #eda1a4 25%,
      #87c486 50%,
      #f2f28f 75%,
      #80a8e8 100%
    )
    0 0 / 500% 100%;
  color: transparent;
  animation: ltr-gradient 120s infinite linear reverse;
}

@keyframes ltr-gradient {
  to {
    background-position: 500% 0;
  }
}
